/* Layout.module.css */
.mainWrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  flex: 1 0 auto;
  margin: 0 auto;
  padding: 0 1rem;
  width: 100%;
  max-width: var(--ifm-container-width);
}

.mainContent {
  padding: 2rem 0;
}