# OPENAI_API_KEY="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"
RETRIEVAL_ENDPOINT="http://localhost:3000/"
FASTAPI_ENV="development"
COHERE_API_KEY="W7QZ0ezZgFGaTfVldcxrGxDSQcEoKCktiaFSlaKY"
QDRANT_URL="https://cf3ec7cf-944c-4926-b86f-e1a0bed0531f.us-east4-0.gcp.cloud.qdrant.io:6333"
QDRANT_API_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2Nlc3MiOiJtIn0.zpw99iPxuA7q9Da7znrNxtfa_Ii_2_WiAmOExj8MMpc"
OPENROUTER_API_KEY="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"
DEPLOY_VERCEL_URL="https://physical-ai-humanoid-robotics-text-eosin.vercel.app/"